/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#titleScreen {
  background: white;
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
}

#start {
  text-align: center;
  font-size: 40px;
  margin-top: 70vh;
}

#title {
  text-align: center;
  font-size: 50px;
}

#presentation {
  text-align: center;
  text-align: justify;
  position: absolute;
  z-index: 3;
  margin-left: 40px;
  margin-right: 55vw;
  font-size: 20px;
  text-indent: 20px;
}

#instructions {
  text-align: center;
  text-align: justify;
  position: absolute;
  z-index: 3;
  margin-left: 50vw;
  margin-right: 40px;
  font-size: 20px;
  text-indent: 20px;
}

.draggableBox {
  position: absolute;
  z-index: 3;
  color: black;
  font-family: 'Lemonada', cursive;
  font-size: 150px;
}

#title2 {
  z-index: 3;
  text-align: center;
  position: relative;
  padding-left: 30px;
  font-size: 50px;
}

#background {
  position: relative;
  background-color: rgb(0, 99, 230);
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

#droppable {
  position: absolute;
  top: 0;
  padding-left: 500px;
  width: 70vw;
  height: 50vh;
}

.styleBox {
  padding: 0.5em;
  padding-top: 3em;
  text-align: center;
  color: black;
  font-size: 50px;
  display: inline-block;
}

#cleared {
  background: white;
  color: black;
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
}

#sentenceDisplay {
  font-size: 50px;
  text-align: center;
  margin-top: 40vh;
}

#playAgain {
  text-align: center;
  font-size: 20px;
  margin-top: 30vh;
}
